/* Enter your custom styles here */
html, body, .sapUiBody { height: 100%; margin: 0; overflow: hidden; }

.LoginPageclass { background-image: url("/Images/RedLoginImage.jpg"); background-size: cover; 
                  background-repeat: no-repeat; background-position: center; height: 100%; }

.PhonePage { background-image: url("/Images/Background Images/Background Image WaterMark.jpg"); background-size: cover; 
                  background-repeat: no-repeat; background-position: center; height: 100%; }

.loginContainer { height: 100%; width: 100%;  }

.imagePane { height: 100%; display: flex; align-items: center; justify-content: center; background-color: transparent !important; }

.loginPane { height: 100%; display: flex; align-items: center; justify-content: center; background-color: transparent !important; }

.loginForm .sapMLnk { display: block; margin-top: 1rem; text-align: center; color: white !important;}

.fullHeightImage { width: 100%; height: 500PX; object-fit: cover; }

.tittle { color: white ; font-family: fantasy; }

.imagePane, .loginPane { overflow: hidden;} 

.categoryBox{ margin-top: 100px; padding: 10px; text-align: center; }

.inbox{ margin: 7px; background-color: none; border-radius: 5px;}

.categoryText { font-size: 16px; font-weight: bold; margin-top: 15px; }

.smallBackgroundImage { background-size: 150px; background-repeat: no-repeat; background-position: center; }

.tileContainer {
    height: calc(100vh - 100px); /* adjust based on header height */
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tileLayout { float: left; height: 230px !important; width: 200px !important; background-color: white; }

.companyText { font-size: 80px; font-weight: bold; color: white; margin: 100px; font-family: 'Times New Roman', Times, serif;}

.iphone15Layout , .PhonePage .catalogOrderPage{ background-color: #fff; border: 2px solid #8b4513;  border-radius: 5px;}

.centerHeaderBar { background-color: white; height: 50px !important; display: flex !important; align-items: center !important;}

.menuButtons .sapMBtnIcon {  color:#0c0c0c !important}

.Category { font-size: 12px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; color: black; }

.specTitle { font-size: 40px; font-weight: bold; color: #000; }

.getUptoText { font-size: 16px; color: #666; margin-top: 10px; }

.priceText { font-size: 32px; font-weight: bold; color: #ff4040; margin-top: 10px; }

.customLegend .sapMObjStatusText { font-size: 0.875rem; padding-left: 2px; padding-right: 12px; }

.redAddButton .sapMBtnIcon {  color: red !important; font-size: 1.2rem !important; }
